.Order {
    width: 80%;
    border: 1px solid #eee;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 2px 2px 2px 2px #ccc;
    box-sizing: border-box;
}

.Order span {
    display: inline-block;
    border: 1px solid #ccc;
    text-transform: capitalize;
    margin: 0 8px;
    padding: 5px;
}