.Sitedrawer {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    max-width: 70%;
    background-color: white;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
}

@media(min-width: 500px) {
    .Sitedrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}